@import 'root';

body
{
    background-color: $white;

    main
    {
        height: 100vh;
        width: 100%;
        background: url("../img/corporate.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: -60px;

        & > .container
        {
            height: 100%;
            width: 100%;
            background-color: rgba(lighten($primary-color, 10), 0.6);
            backdrop-filter: blur(2px);
            @extend .flex-column, .x-start;
            padding-left: 5%;

            & > p
            {
                font-size: 3rem;
                color: $white;
                font-weight: 600;
                margin-top: 10%;
                width: 65%;
                letter-spacing: 2px;
                opacity: 0;
                animation: slideIn 1.5s ease-in forwards;
                animation-delay: 0.1s;
            }

            & > a
            {
                opacity: 0;
                animation: fadeIn 1s ease-in forwards;
                animation-delay: 1.3s;
                margin-top: 2%;
                padding: 20px 40px;
            }
        }
    }

    section
    {
        width: 100%;
        height: max-content;
        padding-bottom: 5%;
        @extend .flex-column;

        & .grid-container
        {

            box-sizing: border-box;
            padding: 1%;
            width: 80%;
            height: 90%;
            @extend .grid-2;

            .info
            {
                padding: 2%;

                h4 
                {
                    font-size: 1.5rem;
                    font-weight: lighter;
                    margin-bottom: 2%;
                }

                p
                {
                    margin-top: 5%;
                    margin-bottom: 5%;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 2rem;
                    width: 95%;
                    opacity: 0.5;
                }
            }

            div
            {
                box-sizing: border-box;
                padding: 1%;
            }


            .text
            {
                @extend .y-start, .x-start;
                background-image: url("../img/blob.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                background-position-x: 30%;
                background-position-y: 30%;

                h2, h4
                {
                    font-size: 1.2rem;
                    font-weight: 400;
                    padding: 1%;
                    margin-bottom: 2px;
                }


                h1
                {
                    width: 100%;
                    margin-bottom: 5px;
                   

                    small
                    {
                        font-size: 10px;
                        position: relative;
                        top: -10px;
                        opacity: 1;
                        color: darken($secondary-color, 5%);

                    }

                    span
                    {
                        font-weight: lighter;
                        color: darken($secondary-color, 5%);
                    }
                }

                h4
                {
                    margin: 2px 0;
                }

                .short-intro
                {
                    width: 80%;
                    height: max-content;
                    opacity: 0.5;
                    font-size: 13px;
                    margin: 10px 0;
                    padding: 1%;

                    &:hover
                    {
                        cursor: cell;
                        opacity: 0.8;
                    }


                }

                ul
                {
                    width: 90%;
                    padding: 1%;

                    li
                    {
                        color: $navy;

                        i
                        {
                            color: darken($secondary-color, 4);
                            margin-right: 10px;
                            font-size: 10px;
                        }

                        span
                        {
                            font-size: small;
                            opacity: 0.7;
                            letter-spacing: 0.2px;

                            &:hover
                            {

                                cursor: cell;
                                opacity: 1;
                            }
                        }
                    }
                }

            }
            
            .image
            {
                // background-image: url("/assets/img/graph.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                img
                {
                    width: 95%;
                    border-radius: 10px;                    
                }
            }


        }


    }

    .blog
    {
        height: 160vh;
        @extend .y-start;

        .grid-container
        {
            width: 90%;
        }

        h3
        {
            align-self: flex-start;
            position: relative;
            left: 6.5%;
            padding-top: 1%;
            border-top: 3px solid $primary-color;
        }

        .grid-container
        {
            height: 50%;

            .image
            {   
                background-image: none;
            }

            .post
            {
                height: 80%;
                box-sizing: border-box;
                padding: 1% 2%;

                h1
                {
                    margin-bottom: 10px;
                    max-height: 30%;
                    
                    a
                    {
                        font-size: initial;
                        color : $primary-color;
                    }
                }

                span
                {
                    margin-bottom: 5px;

                    font-size: 12px;
                }

                p
                {
                    margin-top: 5px;

                    font-size: 8px;
                    opacity: 0.5;
                    line-height: 21px;
                }

                a
                {
                    margin-top: 10px;
                    font-size: 12px;
                    opacity: 0.6;
                    color: $primary-color;
                    width: 21%;
                    display: inline-flex;
                    justify-content: space-between;

                    i
                    {
                        margin-top: 4px;
                        margin-left: 4px;
                        width: 10%;
                    }

                    &:hover
                    {
                        transition: all 1s ease-in;

                        opacity: 1;

                        i
                        {
                            transform: translateX(2px);
                        }
                    }
                }
            }
        }

    }

    .careers
    {
        height: 50vh;
        width: 100%;
        background-color: lighten($primary-color, 2%);
        @extend.flex-column;

        h1
        {
            font-weight: 100;
            margin-bottom: 2%;
            color: $secondary-color;
        }

        h4
        {
            font-weight: 100;
            text-transform: lowercase;
            width: 60%;
            text-align: center;
            margin-bottom: 2%;
            color: $white;

            a
            {
                color: $secondary-color;
            }

            * {text-transform: lowercase;}
        }
    }

    .contact
    {
        height: 80vh;

        h1
        {
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 2%;
        }

        .form
        {
            @extend .shadowed;
            box-sizing: border-box;
            padding: 5%;
            border-radius: 10px;
            width: 80%;

            form
            {
                margin-top: 10px;


                input
                {
                    border-radius: 10px;
                    width: 100%;
                    padding: 2%;
                    margin-bottom: 4%;
                    border: 1px solid $primary-color;
                    outline: none;
                    font-size: 10px;


                }

                ::placeholder
                {
                    font-size: 10px;
                }

                textarea
                {
                    font-size: 12px;
                    width: 100%;
                    padding: 2%;
                    margin-bottom: 2%;
                    border-radius: 10px;
                    border: 1px solid $primary-color;
                    outline: none;
                    height: 120px;
                }
            }
        }
    }
}


@media screen and (max-width: 950px)
{
    body
    {

        main
        {
            top: -65px;

            .container
            {
                width: 100%;
                height: 100%;

                p
                {
                    width: 80%;
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }
            }
        }


        section
        {
            .grid-container
            {
                width: 90%;

                .image
                {
                    width: 100%;
                }

                .form
                {
                    width: 100%;
                }

                .text
                {

                    h4, h1, h5, p
                    {
                        text-align: center;
                        width: 100%;
                    }

                    .short-intro
                    {
                        margin-left: 5%;
                        width: 90%;
                    }

                    ul
                    {
                        width: 90%;
                        margin-left: 5%;

                        li
                        {
                            width: 100%;
                            font-size: 10px;
                            margin: 10px 0;
                            display: inline-flex;

                            i
                            {
                                margin: 4px 2px;
                                width: 10%;
                                font-size: 10px;
                            }

                            span
                            {
                                width: 80%;
                            }
                        }
                    }
                }
            }

            
        }

        section:nth-of-type(even)
        {
            height: max-content;

            .grid-container
            {
                display: inline-flex;
                flex-wrap: wrap-reverse;

                .text
                {
                    background-size: 80%;
                }
            }
        }

        section:nth-of-type(odd)
        {
            .grid-container
            {
                display: inline-flex;
                flex-wrap: wrap;
            }
        }

        .blog
        {
            height: max-content;

            h3
            {
                text-align: start;
                position: relative;
                left: -55%;
                height: 5%;
            }

            .grid-container
            {
                height: max-content;
            }


        }

        .careers
        {
             display: flex;
             flex-direction: column;
            height: max-content;    
            box-sizing: content-box;
            padding: 50px 0;

            h1
            {
                font-size: 20px;
                margin-bottom: 20px;
            }

            h4
            {
                margin-bottom: 20px;

                font-size: 10px;
                width: 80%;
            }
        }

    }
}